ul {
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

.input-container {
  width: auto;
}

.description {
  width: 40rem;
}

button {
  padding: 0.3rem;
}
